<!DOCTYPE html>
<html>
  <head>
    <title> Cryptly </title>
    <link rel="stylesheet" href="assets/css/style.css"/>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>
    <div class="container">
    <h1>Cryptly</h1>
      <h2>A URL Shortener For Ghosts</h2>
        <h3>*Zombies, Vampires, and Werewolves are welcomed too!</h3>
    {{{body}}} <!-- this yields information -->
    <script src="/assets/js/app.js"></script>
  </div>
  </body>
</html>
