<!DOCTYPE html>
<html>
  <head>
    <title> Cryptly </title>
    <link rel="stylesheet" href="assets/css/style.css"/>
  </head>
  <body>
    <h1>Cryptly</h1>
      <h2>A URL Shortener For Ghosts</h2>
        <h3>*Zombies, Vampires, and Werewolves are welcomed too!</h3>
    {{{body}}} <!-- this yields information -->
    <script src="/assets/js/app.js"></script>
  </body>
</html>
