<!DOCTYPE html>
<html>
  <head>
    <title> Cryptly </title>
    <!-- <link rel="stylesheet" href="public/css/style.css"/>
    <script src="/public/js/app.js"></script> -->
  </head>
  <body>
    <h1>Cryptly</h1>
      <h2>A URL Shortener For Ghosts</h2>
        <h3>*Zombies, Vampires, and Werewolves are welcomed too!</h3>
    {{{body}}} <!-- this yields information -->
  </body>
</html>
