<form action="/index" method = "post">
  <input type = "text" name="url[url]" placeholder = "Enter URL here"/>
  <button type="submit"> Submit </button>
</form>

<p> Your shortened URL Is: </p>
<p> www.example.com </p>
