<form action="/index" method = "post">
  <input type = "text" name="url[url]" placeholder = "Enter URL here"/>
  <input type="hidden" name="url[short_url]" id="hiddenFieldName">
  <button id="submitbutton" type="submit"> Confirm </button>
</form>

  <p> Your shortened url will be: </p>
<p class="url">www.cryptly.com/<span id="temp_short"></span></p>
<p>Better copy this now (before it expires!)</p>
